<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">



<main>
    <div class="jumbotron">
        <h1>Student Page</h1>
    
    </div>

    <div class="d-flex flex-column">
        <a href="/">Home</a>
        <a href="">Add Student</a>
    </div>


</main>



</body>
</html>